body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  background-color: #300000;
  justify-content: center
}

#topLevelContainer {
  flex-grow: 0.5;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center
}

#underDevelopment {
  /* background-color: aquamarine; */
  font-family: 'Rubik', sans-serif;
  font-size: 10vh;
  /* color: #ffb800; */
  color: #ffea4d;
}

#checkLater {
  /* background-color: burlywood; */
  font-family: 'Rubik', sans-serif;
  font-size: 5vh;
  color: #ffea4d;
  /* color: #fff3a7; */
}

#iconContainer {
  display: flex;
  flex-grow: 1;
  /* background-color:blue; */
  width: 100vh;
  /* height: 1vh; */
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.icon {
  display: flex;
  flex: 1;
}

#logo {
  height: 5vh;
  width: 5vh;
}

#licenseContainer {

}

#CCBYNC {
  font-family: 'Rubik', sans-serif;
  /* font-size: 5vh; */
  color: #ffea4d;
};