#theme {
  /* background-color: blue;  */
  height: 100%;
  width: 15%;
  display: flex;
  /* flex: 1; */
  justify-content: center;
  align-items: center;
}

#themeLink {
  display: flex;
  flex: 1;
}

#themeImage {
  height: 40%;
  width: 40%;
}

body {
  background-color: #000111;
  color: white;
}

a {
  color: white;
}

#postMonth {
  border-bottom: 2px;
  border-bottom-style: dotted;
  border-bottom-color: white;
}

#projectMonth {
  border-bottom: 2px;
  border-bottom-style: dotted;
  border-bottom-color: white;
}

#postMainContentContainer {
  background-color: #383838;
  border-left-style: solid;
  border-left-color:#212121;
  border-left-width: 8px;
}

#postMainContentContainer pre {
  background-color: #494949;
  overflow: auto;
  padding: 2%;
  border-radius: 2px;
}