.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 10%;
  min-height: 10%;
}

#CCBYNC {
  text-decoration-line: underline;
}

#poweredBy {
  text-decoration-line: underline;
}

#icon {
  text-decoration-line: underline;
}

/* a {
  
}

a:visited {
  text-decoration-line: underline;
} */

.footerDiv {
  padding-left: 10px;
  padding-right: 10px;
}