#headerContainer {
  display: flex;
  flex: 0.8;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#siteMapLinks {
  display: flex;
  flex: 1;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 250px;
}

#siteMapLink {
  padding-left: 10px;
  padding-right: 10px;
}