#theme {
  /* background-color: blue;  */
  height: 100%;
  width: 15%;
  display: flex;
  /* flex: 1; */
  justify-content: center;
  align-items: center;
}

#themeLink {
  display: flex;
  flex: 1;
}

#themeImage {
  height: 40%;
  width: 40%;
}

body {
  color: black;
}

a {
  color: black;
}

#postMonth {
  border-bottom: 2px;
  border-bottom-style: dotted;
  border-bottom-color: black;
}

#projectMonth {
  border-bottom: 2px;
  border-bottom-style: dotted;
  border-bottom-color: black;
}

#postMainContentContainer {
  background-color: #D8D8D8;
  border-left-style: solid;
  border-left-color:#C7C7C7;
  border-left-width: 8px;
}

#postMainContentContainer pre {
  background-color: #c5c5c5;
  overflow: auto;
  padding: 2%;
  border-radius: 2px;
}
